/* Containerul principal pe tot ecranul */
.about-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
}

.about-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

.about-card {
  background: rgba(255, 255, 255, 0.12);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  max-width: 650px;
  width: 100%;
  text-align: center;
  backdrop-filter: blur(4px);
}

.about-card:hover {
  transform: scale((1.05));
}

.about-title {
  color: #f9d97a;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 2.2rem;
  text-shadow: 0 0 6px rgba(249, 217, 122, 0.6);
}

.about-subtitle {
  color: #eee; /* Auriu vizibil */
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 1.1rem;
}

.about-text p {
  color: #eee;
  line-height: 1.7;
  font-size: 1.05rem;
  margin-bottom: 16px;
  text-align: justify;
}

.about-highlights {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-top: 30px;
}

.about-highlights:hover {
  transform: scale((1.05));
}

.highlight-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.12); 
  border: 1px solid #f0e2b6;
  padding: 15px 10px;
  border-radius: 12px;
  flex: 1;
}

.highlight-item span {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.highlight-item strong {
  color: #f9d97a;
  font-size: 0.95rem;
  margin-bottom: 4px;
}

.highlight-item small {
  color: #eee;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .about-container {
    padding: 10px 8px;
  }

  .about-card {
    padding: 18px 12px;
    max-width: 88%;
    border-radius: 10px;
    margin-top: 60px; 
  }

  .about-title {
    font-size: 1.4rem;
    margin-bottom: 4px;
  }

  .about-subtitle {
    font-size: 0.85rem;
    margin-bottom: 14px;
  }

  .about-text p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .about-highlights {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }

  .highlight-item {
    padding: 10px 8px;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
  }

  .highlight-item span {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .highlight-item strong {
    font-size: 0.85rem;
  }

  .highlight-item small {
    font-size: 0.7rem;
  }
}

